testStatemachine.json
{
      "Comment": "A Hello World example of the Amazon States Language using Pass states",
      "StartAt": "Lambda",
      "States": {
        "Lambda": {
          "Type": "Task",
          "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
          "Parameters": {
            "FunctionName": "arn:aws:lambda:us-east-2:521718796648:function:testStateFunctionLambda:$LATEST",
            "Payload": {
              "Input.$": "$",
              "TaskToken.$": "$$.Task.Token"
            }
          },
          "Next": "End",
          "TimeoutSeconds": 3,
          "Catch": [
            {
              "ErrorEquals": [
                "States.ALL"
              ],
              "Next": "End"
            }
          ],
          "ResultPath": "$.taskresult"
        },
        "End": {
          "Type": "Pass",
          "End": true
        }
      }
    }